# --- Kredensial & Rahasia ---
.env
*.pem
*.key

# --- Flutter / Dart ---
frontend/.dart_tool/
frontend/.packages
frontend/build/
frontend/.idea/
frontend/ios/Pods/
frontend/macos/Pods/

# --- Golang ---
backend/vendor/
backend/bin/
backend/*.exe

# Vscode
.vscode

# --- Untracked / Docker ---
Terra-Assest/
backend/.Dockerfile.bak
docker-compose.yml
README-PRIVATE.md
.docker-compose.yml.bak

# Your Docs
walkthrough.md.resolved
AGENT_DIRECTIVE.md
backend/ACTION_PLAN.md

.aider*
